body {
    background-color: black;
    color: red;
}
#app-container {
    color: red;
    border-top: 1px solid red;
    height: 400px;
}
button {
    margin: 1em;
    border: 2px solid red;
    background-color: black;
    color: red;
}
#main-container {
    padding: 2px;
    margin: 2px;
    border-top: 2px solid red;
}
.errorField {
    display: block;
}
