body {
    background-color: black;
    color: red;
}
#app-container {
    color: red;
    border-top: 1px solid red;
    height: 400px;
}
button {
    font-size: 1.0em;
    font-weight: bold;
    margin: 0.5em;
    border: 2px solid red;
    border-radius: 40px;
    background-color: black;
    color: red;
    padding: 0.35em 0.7em;
}
#info-container,
#main-container {
    padding: 2px;
    margin: 2px;
    border-top: 2px solid red;
}
.errorField {
    display: block;
    font-weight: bold;
}
.messageField {
    display: block;
}
div.wrapper {
    margin: 0.75em;
}
label {
    margin-right: 0.5em:
}
.active_button {
    border: 5px solid red;
    border-radius: 40px;
    background-color: red;
    color: black;
}
table {
    border-collapse: collapse;
}
td {
    text-align: center
}
fieldset {
    display: inline-block;
    margin: 0.25em 0.7em;
}
select {
    margin: 0.5em;
}
